*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body {
  background-color: rgb(100, 150, 200);
  color: white;
  transition: background 0.2s ease;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/ZAC233.JPG);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1000;
}

#top-menu {
    display: flex;
    align-items: center;
    background-color: rgba(105, 105, 105, 0.8); /* Slightly darker grey with transparency */
    padding: 10px 20px;
    border-radius: 20px;
}



nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul a{
    color:  #FFF;
    text-decoration: none;
    font-size: 24px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #FFD700; /* Gold */
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.introduction-text{
    margin-top: 20%;
    font-size: 30px;
    text-align: right;

}
.introduction-text h1{
    margin-top: 20px;
    font-size: 60px;
    text-align: right;
}
.introduction-text h1 span{
    color: #90EE90;
    text-align: right;
}

/* ABOUT ME */
#about{
    padding:80px 0;
    color: #ababab;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;

}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display:flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0FFF50;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #0FFF50;
    font-size: 14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* <-------------------Skills-----------> */
#Skills{
    padding: 30 0;
}
.Skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 10px;
}
.Skills-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;

}

.Skills-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.Skills-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.Skills-list div a{
    text-decoration:none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}

.Skills-list div:hover{
    background: #00008B;
    transform: translateY(-10px);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00008B;
    padding: 14px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition:background 0.5s;
}
.btn:hover{
    background: #1E90FF;

}
/* portfolio */
#portfolio{
    padding: 50px 0;
}
.work-list{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 40px;
   margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width:100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6),	#6495ED);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color : #ff004f;
    text-decoration : none;
    font-size: 19px;
    line-height: 60px;
    background: #fff;
    width:60px;
    height:60px;
    border-radius: 50%;
    text-align: center;

}
.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}


/************************ CONTACT *******************************/
.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 60%;
    
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size:30px ;
    nav-right: 35px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #1E90FF;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #1E90FF;

}


.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;

}
form .btn2{
    padding: 14px 16px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}
.toggle-tab {
  cursor: pointer;
  color: #555;
  font-weight: bold;
  transition: color 0.3s;
}

.toggle-tab:hover {
  color: #6495ED;
}

.toggle-tab.active {
  color: #6495ED;
  text-decoration: underline;
}

.achievement-list {
  list-style: none;
  padding: 0;
}

.achievement-list li {
  margin: 10px 0;
  font-size: 16px;
}
